.contenedor {
    max-width: 900px;
    margin: 0 auto;
    width: 90%;
    margin-bottom: 50px;
}
img{
    width: 100%;
    display: block;
   
}
.grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

.imagen-nodata{
    /* grid-row-start: 1;
    grid-row-end: 3; */
    margin: 0 auto;
}
@media(min-width:768px){
    .grid{
        grid-template-columns: repeat(2,1fr);
    }
    img{
        height: 300px;
    }
    .imagen-nodata{
        grid-column-start: 1;
        grid-column-end: 3;
    }
}
@media(min-width:1024px){
    .grid{
        grid-template-columns: repeat(3,1fr);
    }
        .imagen-nodata {
            grid-column-start: 1;
            grid-column-end: 4;
        }
}